<html>
  <head> 
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <script src="./js/myscript.js"></script>
      <title>Sample Angularjs App</title>
  </head>
  <body ng-app="myapp">
    <div ng-controller="tron">
      <label>Enter word: </label><input type="text" ng-model="word"/>
      <button ng-click="search(word)">Search</button>
      <div ng-show="loading">loading...</div>
      <div ng-show="dict">
        <ul ng-if="results" ng-repeat="result in results">
          <li ng-if="result.headword"><b>Headword is </b> {{result.headword}}</li>
          <div ng-repeat="def in result.senses">
            <p ng-if="def.definition"> <b>Definition: </b> {{def.definition}}</p>
            <p ng-if="def.translation"> <b>Translation: </b> {{def.translation}} </p>
            <p ng-if="exp.text" ng-repeat="exp in def.examples"> <b>Examples: </b> {{exp.text}}</p>
            </div> 
          </ul>
          <p ng-if="!results" style="color: red;">No results found :-( </p>
      </div>
       <div ng-show="error"> Error in rendering results <br />{{err}}</div>
    </div>
  </body>
</html>
